{% extends 'base.html' %}

{% block content %}

<section class="cart-page">
  <h1 class="cart-title">Your Cart</h1>

  {% if cart_items %}
    <div class="cart-list">
      {% for item in cart_items %}
        <div class="cart-card">
          <div class="cart-info">
            <h3>{{ item.product.name }}</h3>
            <p class="cart-meta">
              KES {{ item.product.price }} × {{ item.qty }}
            </p>
          </div>

          <div class="cart-actions">
            <span class="cart-subtotal">KES {{ item.subtotal }}</span>
            <a href="{% url 'remove_from_cart' item.product.id %}" class="remove-btn">
              Remove
            </a>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="cart-summary">
      <h2>Total: <span>KES {{ total }}</span></h2>

      
<a class="btn-primary"
   href="https://wa.me/2547XXXXXXXX?text=
   Hello%20I%20would%20like%20to%20order:%0A
   {% for item in cart_items %}
   {{ item.product.name }} x {{ item.qty }} - KES {{ item.subtotal }}%0A
   {% endfor %}
   Total:%20KES%20{{ total }}"
   target="_blank">
   Checkout via WhatsApp
</a>

    </div>

  {% else %}
    <p class="empty-cart">Your cart is empty.</p>
  {% endif %}
</section>

{% endblock %}