{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="shop-page">
  <h1 class="shop-title">Shop</h1>

  <!-- Category Filters -->
  <div class="shop-filters">
    #All</a>
    #Bras</a>
    #Panties</a>
    #Dresses</a>
    #Sandals</a>
    #Accessories</a>
  </div>

  <!-- Product Grid -->
  
<div class="product-grid">
  {% for product in products %}
    <div class="product-card">
      <div class="product-image" data-bg="{{ product.image.url }}"></div>

      <h3>{{ product.name }}</h3>
      <p class="price">KES {{ product.price }}</p>

      #View</a>
    </div>
  {% empty %}
    <p>No products available at the moment.</p>
  {% endfor %}
</div>


    <!-- <div class="product-card">
      <div class="product-image" data-bg="{% static 'images/sample2.jpg' %}"></div>
      <h3>Elegant Dress</h3>
      <p class="price">KES 3,800</p>
      #View</a>
    </div>

  </div> -->
</section>

{% endblock %}
``