{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="shop-page">
  <h1 class="shop-title">Shop</h1>

  <!-- Category Filters -->

<div class="shop-filters">
  <a href= "/shop/" class="filter-pill {% if not active_category %}active{% endif %}">All
  </a>

  {% for category in categories %}
    <a href= "/shop/?category={{ category.slug }}"
       class="filter-pill {% if active_category == category.slug %}active{% endif %}">
       {{ category.name }}
    </a>
  {% endfor %}
</div>


  <!-- Product Grid -->
  
<div class="product-grid">
  {% for product in products %}
    <div class="product-card">
<div class="product-image" data-bg="{{ product.image.url }}"></div>

  <h3>{{ product.name }}</h3>
  <p class="price">KES {{ product.price }}</p>

  <a href="{% url 'product_detail' product.id %}" class="btn-secondary">View</a>
</div>

  {% empty %}
    <p>No products available at the moment.</p>
  {% endfor %}
</div>

</section>

{% endblock %}