{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="hero-slider">
  <!-- Slides -->
  
<div class="slide active" data-bg="{% static 'images/d1.jpeg' %}"></div>
  <div class="slide" data-bg="{% static 'images/d2.jpg' %}"></div>
  <div class="slide" data-bg="{% static 'images/d3.jpg' %}"></div>

  <!-- Content -->
  <div class="hero-content">
    <h1>Elegance. Confidence. You.</h1>
    <p>Premium ladies boutique for the modern woman</p>
    <a href="{% url 'products' %}" class="btn-primary">Shop Now</a>
  </div>
</section>

<section class="categories">
    <h2>What We Sell</h2>

    <div class="category-grid">
        <div class="card">Bras</div>
        <div class="card">Seamless Panties</div>
        <div class="card">Ladies Sandals</div>
        <div class="card">Earrings & Lip Gloss</div>
        <div class="card">Dresses</div>
        <div class="card">Custom Crochet Outfits</div>
        <div class="card">Kids Underpants</div>
        <div class="card">Bathing Gloves & Clear Bra Straps</div>
    </div>
</section>

<section class="why-us">
    <h2>Why Choose Owino Secrets?</h2>
    <ul>
        <li>✔ Quality & Comfort</li>
        <li>✔ Stylish & Modern Designs</li>
        <li>✔ Nationwide Delivery</li>
        <li>✔ Trusted Ladies Boutique</li>
    </ul>
</section>


{% endblock %}